<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'products')}">
    <body>
        <div class="conainter">
            <div class="row ">
                <div class="col-md-12">
                    <div style="display:flex; justify-content: space-between; align-items: center;">
                        <div>
                            <span style="font-size:1.5em;"><b>Listado de productos</b></span>
                        </div>
                        <div>
                            <a data-toggle="modal" data-target="#myModal" class="btn btn-default">Reporte activo</a>
                            <a href="products/create" class="btn btn-default">Agregar nuevo producto</a>
                        </div>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Reportes de productos
                                    </div>
                                    <div class="modal-body" style="height:400px !important; overflow-y: scroll;">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Nombre</th>
                                                    <th class="text-center">Descripcion</th>
                                                    <th class="text-center">Precio</th>
                                                    <th class="text-center">Existencia</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="product : ${products}">
                                                    <td class="text-center">
                                                        <b>Visualizar</b><br>
                                                        <a class="btn btn-default" th:href="@{/products/__${product.id}__}" th:text="${product.nombre}"/></a>
                                                    </td>
                                                    <td class="text-center" th:text="${product.descripcion}"/>
                                                    <td class="text-center" th:text="${product.precio}" />
                                                    <td class="text-center" th:text="${product.existencia}" />
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Descripcion</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Existencia</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="product : ${products}">
                                <td class="text-center">
                                    <b>Visualizar producto</b><br>
                                    <a class="btn btn-default" th:href="@{/products/__${product.id}__}" th:text="${product.nombre}"/></a>
                                </td>
                                <td class="text-center" th:text="${product.descripcion}"/>
                                <td class="text-center" th:text="${product.precio}" />
                                <td class="text-center" th:text="${product.existencia}" />
                                <td class="text-center" >
                                    <a class="btn btn-default" th:href="@{/products/__${product.id}__/edit}" th:text="Actualizar"/></a>
                                    <form method="POST" th:action="@{/products/__${product.id}__/delete}" style="display:inline-block;">
                                        <button class="btn btn-default">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>