<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'products')}">
    <body>
    	<div class="containter">
            <div class="row">
    		<div class="col-md-8">
                    <div class="panel panel-default">
                       <div class="panel-heading" style="disflay:flex !important; align-items: center !important; justify-content:space-between !important;">
                           <span style="font-size:1.5em;"><b>Detalle del producto</b></span>
                        </div> 
                    </div>
                    <br>
                    <table class="table table-striped" th:object="${product}">
                        <tr>
                          <th>Nombre</th>
                          <td><b th:text="*{nombre}"></b></td>
                        </tr>
                         <tr>
                          <th>Descripción</th>
                          <td th:text="*{descripcion}" /></td>
                        </tr>
                         <tr>
                          <th>Precio</th>
                          <td th:text="*{precio}" /></td>
                        </tr>
                        <tr>
                          <th>Existencia</th>
                          <td th:text="*{existencia}" /></td>
                        </tr>
                         <tr>
                          <th>Fotografia</th>
                          <td th:text="*{imagenes}" /></td>
                        </tr> 
                    </table>
                    <a class="btn btn-default" th:href="@{/products/__${product.id}__/edit}" th:text="Actualizar"/></a>
                    <a class="btn btn-default" th:href="@{/products}" th:text="Listado"/></a>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <td class="text-center"> <img style= "width:180px; shadow: 10px 20px 40px#000; border-radius: 50%;" th:src="@{/resources/imagesProduct/__${product.imagenes}__}"/>                             
                        </td>
                    </div>                   
                </div>         
            </div>
    	</div>
    </body>
</html>

