<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2 th:text="#{owner}">Owner</h2>
  <form th:object="${owner}" class="form-horizontal" id="add-owner-form" method="post">
      <div class="form-group has-feedback">
        <input th:replace="~{fragments/inputField :: input (#{name}, 'firstName', 'text')}" />
        <input th:replace="~{fragments/inputField :: input (#{lastName}, 'lastName', 'text')}" />
        <input th:replace="~{fragments/inputField :: input (#{address}, 'address', 'text')}" />
        <input th:replace="~{fragments/inputField :: input (#{city}, 'city', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input (#{telephone}, 'telephone', 'text')}" />
    </div>
    <div id="mapaDiv" style="width:550px; height:350px;margin: auto; align-content: center; justify-content: center;"></div>
    </br></br>
    <div class="form-group">
      <div style="text-align: center;">
        <button
          th:with="text=${owner['new']} ? 'Add Owner' : 'Update Owner'"
          class="btn btn-default" type="submit" th:text="${text}">Add
          Owner</button>
      </div>
    </div>
  </form>
    <script th:inline="javascript">
        document.getElementById('address').addEventListener('blur', function() {
            inicializarMapa();
        });
        document.getElementById('city').addEventListener('blur', function() {
            inicializarMapa();
        });
    </script>
    <script>
        function inicializarMapa() {
            var geocoder = new google.maps.Geocoder();
            var mapa = new google.maps.Map(document.getElementById('mapaDiv'), {
                zoom: 16,
                scrollwheel: true,
		mapTypeId: google.maps.MapTypeId.ROADMAP
            });          
            var direccion = document.getElementById('address').value + document.getElementById('city').value;
            geocoder.geocode({'address': direccion}, function(results, status) {
            if (status === 'OK') {
                mapa.setCenter(results[0].geometry.location);
                var searchcenter = results[0].geometry.location;
                var marker = new google.maps.Marker({
                    map: mapa,
                    position: results[0].geometry.location
                });
                var cityCircle = new google.maps.Circle({
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                map: mapa,
                center: searchcenter,
                radius: Math.sqrt(10) * 100
                });
            }else{
                var mensajeError = "";
                if (status === "ZERO_RESULTS") {
                        mensajeError = "No hubo resultados para la dirección ingresada.";
                } else if (status === "OVER_QUERY_LIMIT" || status === "REQUEST_DENIED" || status === "UNKNOWN_ERROR") {
                        mensajeError = "Error general del mapa.";
                } else if (status === "INVALID_REQUEST") {
                        //mensajeError = "Error de la web. Contacte con el programador.";
                        Console.log("Error de la web. Contacte con el programador.");
                     
                }
                alert(mensajeError);
            }
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXhEDMXCdHKk5bMYxZYKAk1dvGrLgzHGA&callback=inicializarMapa">
    </script>
</body>
</html>