<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

    <body>
        <h2 th:text="#{ownersReport}">Owner's report</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="4" style="text-align: center" th:text="#{owners}">Owners</th>
                    <th style="text-align: center" th:text="#{pets}">Pets</th>
                </tr>
                <tr>
                    <th style="width: 200px;" th:text="#{name}">Name</th>
                    <th style="width: 200px;" th:text="#{address}">Address</th>
                    <th style="width: 200px;" th:text="#{city}">City</th>
                    <th style="width: 200px;" th:text="#{telephone}">Telephone</th>
                    <th>
                        <table>
                            <thead>
                                <tr>
                                    <th style="width: 200px; text-align: center" th:text="#{name}">Name</th>
                                    <th style="width: 200px; text-align: center" th:text="#{type}">Type</th>
                                </tr>
                            </thead>
                        </table>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="owner : ${selections}">
                    <td th:text="${owner.firstName + ' ' + owner.lastName}"/>
                    <td th:text="${owner.address}"/>
                    <td th:text="${owner.city}"/>
                    <td th:text="${owner.telephone}"/>
                    <td>
                        <table>
                            <tbody>
                                <tr th:each="pet : ${owner.pets}">
                                    <td th:text="${pet.name}" style="width: 200px; text-align: center"/>
                                    <td th:text="${pet.type}" style="width: 200px; text-align: center"/>
                                </tr>                         
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>